.cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 35px;
}

.card-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 0.25rem;
  margin-bottom: 30px;
  margin-right: 16px;
  max-width: 300px;
  margin-right: 10px;
  transition: transform 450ms;
}

.card-container:hover {
  transform: scale(1.08);
}

.card-container__image {
  max-width: 300px;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.card-container__info {
  padding: 5px 16px 25px 16px;
}