.card-container__info__metrics  {
  display: flex;
  justify-content: flex-start;
}

.card-container__info__metrics span  {
  margin-right: 1rem;
  font-size: 0.8rem;
}

.card-container__info__metrics span .metric_icon {
  position: relative;
  top: 4px;
  right: 5px;
  fill: grey;
}